<footer>
    <p>&copy; 2024 Mi Portafolio - Todos los derechos reservados.</p>
    <div class="redes-sociales">
        <a href="URL_DE_FACEBOOK" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="URL_DE_TWITTER" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="URL_DE_INSTAGRAM" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
</footer>